body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

.card {
  padding: 20px;
  background: #020617;
  margin: 10px auto;
  width: 200px;
  border-radius: 10px;
}
